.sidebar {
  width: 260px;
  height: 100vh;
  padding: 25px;
  position: fixed;
  color: white;

  background:
    radial-gradient(
      circle at 20% 85%,
      rgba(255,255,255,0.08),
      transparent 40%
    ),
    linear-gradient(
      180deg,
      #0d1633 0%,
      #14224a 100%
    );
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
}

/* Custom Divider */
.logo-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;

  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.06),
    rgba(255,255,255,0.18),
    rgba(255,255,255,0.06)
  );
}

.logo-section img {
  width: 28px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 14px;
}

.menu-item.active {
background: linear-gradient(
  90deg,
  #e9edf4 0%,
  #eaf1ff 60%,
  #3f6feb 100%
);
  color: black;
}