/* FULL PAGE BACKGROUND */
.login-wrapper {
  height: 100vh;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTAINER */
.login-container {
  width: 1100px;
  height: 650px;
  background: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

/* LEFT SIDE */
.login-left {
  width: 50%;
  padding: 90px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}

.login-subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 40px;
}

/* INPUT */
.input-group-custom {
  margin-bottom: 20px;
  position: relative;
}

.input-group-custom input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 30px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.input-group-custom input:focus {
  border-color: #1e3a8a;
}

/* PASSWORD FIELD */
.password-field {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  cursor: pointer;
  color: #9ca3af;
}

/* OPTIONS */
.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 30px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 6px;
}

.login-options a {
  color: #1e3a8a;
  text-decoration: none;
}

/* BUTTON */
.login-btn {
  background: #2f4da0;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-size: 15px;
  transition: 0.3s;
}

.login-btn:hover {
  background: #1e3a8a;
}

/* RIGHT SIDE PANEL */
.login-right {
  width: 50%;
  background:
    radial-gradient(
      circle at 60% 85%,
      rgba(255,255,255,0.08),
      transparent 50%
    ),
    linear-gradient(
      180deg,
      #0b1b3a 0%,
      #091733 100%
    );

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  margin: 20px;
}

.login-logo {
  width: 120px;
}