:root {
  --primary-900: #0d1633;
  --primary-800: #14224a;
  --primary-700: #1c2f66;
  --primary-500: #2f4da0;

  --success: #22c55e;
  --warning: #facc15;
  --danger: #ef4444;
  --info: #3b82f6;

  --bg-light: #f4f5f7;
  --border: #e5e7eb;
  --text-light: #6b7280;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg-light);
}