.content-wrapper {
  min-height: 100vh;
}

/* Desktop only */
@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 260px;
  }
}


.floating-pill {
  position: relative;
}

.floating-pill input {
  width: 100%;
  height: 55px;
  border: 1.5px solid black;
  border-radius: 50px;
  padding: 0 20px;
  padding-right: 45px; /* space for eye icon */
  outline: none;
  background: transparent;
}

.floating-pill label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 0 8px;
  color: #6c757d;
  transition: 0.2s ease;
  pointer-events: none;
}

/* When focused or typed */
.floating-pill input:focus+label,
.floating-pill input:not(:placeholder-shown)+label {
  top: 0;
  font-size: 12px;
  color: black;
}

/* Focus effect */
.floating-pill input:focus {
  border-color: black;
}